1. Tweets with fewer than 3 words
2. Tweets from users who have posted identical messages more than 3 times in the data as these are likely to be fake accounts
3. Tweets from users with over 3000 Tweets within the sample, who would tend to dominate the analysis (是不是应该放在最后，看是否还剩下好多，如果删的不剩3000多了就不用了)   
LDATw-4.6  


4. Tweets with uncertain coordinates, arising because of rounding of recorded values by certain user devices

# Check by Msg

In [1]:
import pandas as pd

df = pd.read_csv('/Users/wenlanzhang/Downloads/PhD_UCL/Data/Twitter/Nairobi_1922/Sum/Summary.csv', lineterminator='\n')
df

,id,text,userid,lat,lon,created_at
0,1079755309281890305,Quick Pose Before The Vibe @KIZAnairobi @ KIZA...,149813541,-1.290832,36.782992,2018-12-31 15:05:01+00:00
1,1079759392138907649,365/365 \n#whereveryouare #haveagoodone #beTha...,208112568,-1.283333,36.816667,2018-12-31 15:21:14+00:00
2,1079760884526972928,"Happy 2019 from us @ Nairobi, Kenya https://t....",51949523,-1.283330,36.816700,2018-12-31 15:27:10+00:00
3,1079762365644660736,"We ride together, We shine together. @ Nairobi...",89940972,-1.283330,36.816700,2018-12-31 15:33:03+00:00
4,1079764407675015170,Nairobi: 6:41pm: sunset,111780330,-1.270000,36.800000,2018-12-31 15:41:10+00:00
...,...,...,...,...,...,...
335453,1542517996685369344,find only Kenyan tea and not a blend. I have o...,1269598733878079488,-1.292066,36.821945,2022-06-30 14:38:43+00:00
335454,1542517994080702464,✦ [ Sakaja ]\n\nQuestion from an American\n\nh...,1269598733878079488,-1.292066,36.821945,2022-06-30 14:38:43+00:00
335455,1542518238566703108,Just posted a photo @ Adams Arcade - Ngong Roa...,1339887369495916545,-1.300567,36.780725,2022-06-30 14:39:41+00:00
335456,1542521919118770184,You better recognize....\nOwner: @kemeigabriel...,839394178824028160,-1.283330,36.816700,2022-06-30 14:54:18+00:00
335457,1542522901357744128,Just posted a photo @ Runda https://t.co/FhGlb...,1359535373416886279,-1.288986,36.826809,2022-06-30 14:58:13+00:00

## Tweets shorter than 3 words

In [3]:
df['Len'] = df['text'].apply(lambda x: len(x.split()))
df = df[df['Len'] > 3]

/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/3902718786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Len'] = df['text'].apply(lambda x: len(x.split()))

## Same user repeated tweets

In [4]:
df['IDFreq'] = df.groupby('userid')['userid'].transform('count')
df['MsgFreq'] = df.groupby('text')['text'].transform('count')
df = df.sort_values('MsgFreq')

df['IdMsgFreq'] = 0

df

,id,text,userid,lat,lon,created_at,Len,IDFreq,MsgFreq,IdMsgFreq
0,1079755309281890305,Quick Pose Before The Vibe @KIZAnairobi @ KIZA...,149813541,-1.290832,36.782992,2018-12-31 15:05:01+00:00,13,2,1,0
217769,1379881945878953993,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:41:07+00:00,18,1321,1,0
217768,1379881682879315968,✦ [ #PORCHE ] ● Science and Technology\n\nUsin...,1269598733878079488,-1.292066,36.821945,2021-04-07 19:40:04+00:00,16,43181,1,0
217767,1379878770413346818,Team work brings greatness in one’s ability an...,844468771536289792,-1.283330,36.816700,2021-04-07 19:28:30+00:00,13,143,1,0
217766,1379878526778814472,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:27:32+00:00,18,1321,1,0
...,...,...,...,...,...,...,...,...,...,...
306742,1501834678877265922,🟥 #rKenyaModLog #RemovedByMods\nThe above redd...,1269598733878079488,-1.292066,36.821945,2022-03-10 08:17:44+00:00,15,43181,2550,0
230743,1390968020395307011,🟥 #rKenyaModLog #RemovedByMods\nThe above redd...,1269598733878079488,-1.292066,36.821945,2021-05-08 09:53:13+00:00,15,43181,2550,0
218885,1380832374968229889,🟥 #rKenyaModLog #RemovedByMods\nThe above redd...,1269598733878079488,-1.292066,36.821945,2021-04-10 10:37:47+00:00,15,43181,2550,0
232837,1393325575054495746,🟥 #rKenyaModLog #RemovedByMods\nThe above redd...,1269598733878079488,-1.292066,36.821945,2021-05-14 22:01:18+00:00,15,43181,2550,0
227254,1387963764834770951,🟥 #rKenyaModLog #RemovedByMods\nThe above redd...,1269598733878079488,-1.292066,36.821945,2021-04-30 02:55:23+00:00,15,43181,2550,0

### Select valid msg freq users

In [6]:
# Select valid msg freq users for append later

dfmsgV = df[df['MsgFreq'] <= 2]  # 完全一样的信息重复两次以下
dfmsgV

,id,text,userid,lat,lon,created_at,Len,IDFreq,MsgFreq,IdMsgFreq
0,1079755309281890305,Quick Pose Before The Vibe @KIZAnairobi @ KIZA...,149813541,-1.290832,36.782992,2018-12-31 15:05:01+00:00,13,2,1,0
217769,1379881945878953993,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:41:07+00:00,18,1321,1,0
217768,1379881682879315968,✦ [ #PORCHE ] ● Science and Technology\n\nUsin...,1269598733878079488,-1.292066,36.821945,2021-04-07 19:40:04+00:00,16,43181,1,0
217767,1379878770413346818,Team work brings greatness in one’s ability an...,844468771536289792,-1.283330,36.816700,2021-04-07 19:28:30+00:00,13,143,1,0
217766,1379878526778814472,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:27:32+00:00,18,1321,1,0
...,...,...,...,...,...,...,...,...,...,...
57479,1143814826470174721,"current weather in Nairobi: broken clouds, 17°...",111780330,-1.270000,36.800000,2019-06-26 09:34:40+00:00,13,1461,2,0
277794,1460116756060639232,"Just posted a photo @ Kilimani, Nairobi https:...",455093011,-1.289099,36.798138,2021-11-15 05:25:36+00:00,8,7498,2,0
256051,1427312976793645056,Just posted a photo @ Nairobi https://t.co/hys...,2812746466,-1.283333,36.816667,2021-08-16 16:55:06+00:00,7,88,2,0
253412,1423343357108047878,Just posted a video @ South B - Nairobi https:...,455093011,-1.319583,36.846936,2021-08-05 18:01:15+00:00,10,7498,2,0
256797,1428410743909650436,"Just posted a video @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-08-19 17:37:14+00:00,8,7498,2,0

### Select unvalid msg freq users

In [9]:
# Select high freq msg

dfmsg = df[df['MsgFreq'] > 2]
dfmsg.head(30)

,id,text,userid,lat,lon,created_at,Len,IDFreq,MsgFreq,IdMsgFreq
125124,1227437539327270912,6:42am: sunrise\nsunset will be at 6:51pm,111780330,-1.270000,36.800000,2020-02-12 03:41:28+00:00,7,1461,3,0
264468,1439811219246944257,"Just posted a photo @ Lavington, Nairobi https...",455093011,-1.291488,36.772337,2021-09-20 04:38:39+00:00,8,7498,3,0
241847,1405783455443652609,Just posted a photo @ South C https://t.co/J4f...,455093011,-1.317000,36.825000,2021-06-18 07:04:28+00:00,8,7498,3,0
273526,1453948147063951365,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-10-29 04:53:45+00:00,8,7498,3,0
254329,1424772579957608452,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-08-09 16:40:28+00:00,8,7498,3,0
264447,1439809234846117889,"Just posted a video @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-09-20 04:30:46+00:00,8,7498,3,0
260398,1433490333682311180,Just posted a photo @ Lavington https://t.co/r...,455093011,-1.283330,36.816700,2021-09-02 18:01:43+00:00,7,7498,3,0
133277,1239032778752249857,Nairobi: 6:38am: sunrise\nsunset will be at 6:...,111780330,-1.270000,36.800000,2020-03-15 03:36:49+00:00,8,1461,3,0
131699,1236858605569073152,Nairobi: 6:39am: sunrise\nsunset will be at 6:...,111780330,-1.270000,36.800000,2020-03-09 03:37:25+00:00,8,1461,3,0
121328,1222001267972534272,Nairobi: 6:40am: sunrise\nsunset will be at 6:...,111780330,-1.270000,36.800000,2020-01-28 03:39:40+00:00,8,1461,3,0
244712,1410147691577937922,Just posted a photo @ South B https://t.co/8kM...,455093011,-1.310000,36.833000,2021-06-30 08:06:23+00:00,8,7498,3,0
138422,1248091006781681666,6:31am: sunrise\nsunset will be at 6:36pm,111780330,-1.270000,36.800000,2020-04-09 03:30:59+00:00,7,1461,3,0
334616,1541483619864158213,"I'm live on Twitch, come hang out! {www. twitc...",1269598733878079488,-1.292066,36.821945,2022-06-27 18:08:29+00:00,10,43181,3,0
277696,1460043641527975940,"Just posted a photo @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-11-15 00:35:05+00:00,8,7498,3,0
273525,1453948048325812230,"Just posted a video @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-10-29 04:53:22+00:00,8,7498,3,0
251220,1419958954025787396,"Just posted a photo @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-07-27 09:52:50+00:00,8,7498,3,0
151035,1270922411324567553,"current weather in Nairobi: broken clouds, 14°...",111780330,-1.270000,36.800000,2020-06-11 03:34:50+00:00,13,1461,3,0
37103,1121980184821817344,Nairobi: 6:28am: sunrise\nsunset will be at 6:...,111780330,-1.270000,36.800000,2019-04-27 03:31:36+00:00,8,1461,3,0
277686,1460042754650775558,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-11-15 00:31:33+00:00,8,7498,3,0
264457,1439809954823745538,"Just posted a photo @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-09-20 04:33:38+00:00,8,7498,3,0
273550,1453951749132206080,Just posted a photo @ South C https://t.co/WbM...,455093011,-1.317000,36.825000,2021-10-29 05:08:04+00:00,8,7498,3,0
273548,1453951644970799111,Just posted a photo @ South C https://t.co/1dV...,455093011,-1.317000,36.825000,2021-10-29 05:07:39+00:00,8,7498,3,0
30401,1114369951123398656,6:32am: sunrise\nsunset will be at 6:37pm,111780330,-1.270000,36.800000,2019-04-06 03:31:14+00:00,7,1461,3,0
131975,1237221229045534722,Nairobi: 6:39am: sunrise\nsunset will be at 6:...,111780330,-1.270000,36.800000,2020-03-10 03:38:22+00:00,8,1461,3,0
273545,1453951469808279557,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-10-29 05:06:58+00:00,8,7498,3,0
253480,1423497246562193408,"Just posted a photo @ Langata, Kenya https://t...",455093011,-1.366111,36.738056,2021-08-06 04:12:45+00:00,8,7498,3,0
251211,1419958229329657875,Just posted a photo @ Kileleshwa Estate https:...,455093011,-1.280618,36.784323,2021-07-27 09:49:58+00:00,8,7498,3,0
253485,1423501648190705667,Just posted a photo @ Langata https://t.co/9TR...,455093011,-1.326655,36.710905,2021-08-06 04:30:14+00:00,7,7498,3,0
264465,1439811063998914564,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-09-20 04:38:02+00:00,8,7498,3,0
270567,1449779921325277190,"Just posted a photo @ Karen, Kenya https://t.c...",455093011,-1.328100,36.705900,2021-10-17 16:50:43+00:00,8,7498,3,0

In [10]:
# Select users with repeated tweets
Uid = list(set(dfmsg.userid.tolist()))
print(Uid)
print(len(Uid))

[1269598733878079488, 1269295653718540288, 244918210, 2812746466, 1298498933304500224, 46872087, 1283398056, 111780330, 483391438, 455093011, 46935189, 151861622, 309686397, 597481659, 2913613437]
15

In [11]:
# Append tweets if the message frequency is lower than 3

for id in Uid:
# id = 579141934
    dftemp = dfmsg[dfmsg['userid'] == id]
    dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
    if (dftemp['IdMsgFreq'] > 3).any():
        continue
    else:
        dfmsgV = dfmsgV.append(dftemp)
dfmsgV
# 6min

/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfmsgV = dfmsgV.append(dftemp)
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfmsgV = dfmsgV.append(dftemp)
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfmsgV = dfmsgV.append(dftemp)
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfmsgV = dfmsgV.append(dftemp)
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfmsgV = dfmsgV.append(dftemp)
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')
/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_5852/4041436954.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftemp['IdMsgFreq'] = dftemp.groupby('text')['text'].transform('count')

,id,text,userid,lat,lon,created_at,Len,IDFreq,MsgFreq,IdMsgFreq
0,1079755309281890305,Quick Pose Before The Vibe @KIZAnairobi @ KIZA...,149813541,-1.290832,36.782992,2018-12-31 15:05:01+00:00,13,2,1,0
217769,1379881945878953993,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:41:07+00:00,18,1321,1,0
217768,1379881682879315968,✦ [ #PORCHE ] ● Science and Technology\n\nUsin...,1269598733878079488,-1.292066,36.821945,2021-04-07 19:40:04+00:00,16,43181,1,0
217767,1379878770413346818,Team work brings greatness in one’s ability an...,844468771536289792,-1.283330,36.816700,2021-04-07 19:28:30+00:00,13,143,1,0
217766,1379878526778814472,FULFILLMENT OF THE PROPHECY OF THE HOLY SPIRIT...,1315232306823680000,-1.283330,36.816700,2021-04-07 19:27:32+00:00,18,1321,1,0
...,...,...,...,...,...,...,...,...,...,...
295660,1486956388660269061,Just posted a photo @ Ngong Road https://t.co/...,1298498933304500224,-1.299932,36.783541,2022-01-28 06:56:44+00:00,8,441,3,3
297572,1489490458153738240,Just posted a photo @ Ngong Road https://t.co/...,1298498933304500224,-1.299932,36.783541,2022-02-04 06:46:13+00:00,8,441,3,3
237904,1399969211028578305,"Just posted a photo @ Nairobi, Kenya https://t...",151861622,-1.283330,36.816700,2021-06-02 06:00:44+00:00,8,45,3,3
236434,1398189047810564096,"Just posted a photo @ Nairobi, Kenya https://t...",151861622,-1.283330,36.816700,2021-05-28 08:07:00+00:00,8,45,3,3
250976,1419596712323190784,"Just posted a photo @ Nairobi, Kenya https://t...",151861622,-1.283330,36.816700,2021-07-26 09:53:25+00:00,8,45,3,3

In [16]:
# dfmsgV.drop(["IDFreq", "MsgFreq", 'IdMsgFreq', 'Len'], axis=1, inplace=True)
dfmsgV["created_at"] = pd.to_datetime(dfmsgV["created_at"])
dfmsgV = dfmsgV.sort_values(by=['created_at'])
dfmsgV

,id,text,userid,lat,lon,created_at
0,1079755309281890305,Quick Pose Before The Vibe @KIZAnairobi @ KIZA...,149813541,-1.290832,36.782992,2018-12-31 15:05:01+00:00
1,1079759392138907649,365/365 \n#whereveryouare #haveagoodone #beTha...,208112568,-1.283333,36.816667,2018-12-31 15:21:14+00:00
2,1079760884526972928,"Happy 2019 from us @ Nairobi, Kenya https://t....",51949523,-1.283330,36.816700,2018-12-31 15:27:10+00:00
3,1079762365644660736,"We ride together, We shine together. @ Nairobi...",89940972,-1.283330,36.816700,2018-12-31 15:33:03+00:00
5,1079765001454477312,We set to usher in the new year 2019 in style ...,272970471,-1.269244,36.806866,2018-12-31 15:43:32+00:00
...,...,...,...,...,...,...
335453,1542517996685369344,find only Kenyan tea and not a blend. I have o...,1269598733878079488,-1.292066,36.821945,2022-06-30 14:38:43+00:00
335454,1542517994080702464,✦ [ Sakaja ]\n\nQuestion from an American\n\nh...,1269598733878079488,-1.292066,36.821945,2022-06-30 14:38:43+00:00
335455,1542518238566703108,Just posted a photo @ Adams Arcade - Ngong Roa...,1339887369495916545,-1.300567,36.780725,2022-06-30 14:39:41+00:00
335456,1542521919118770184,You better recognize....\nOwner: @kemeigabriel...,839394178824028160,-1.283330,36.816700,2022-06-30 14:54:18+00:00
335457,1542522901357744128,Just posted a photo @ Runda https://t.co/FhGlb...,1359535373416886279,-1.288986,36.826809,2022-06-30 14:58:13+00:00

In [17]:
dfmsgV.to_csv('/Users/wenlanzhang/Downloads/PhD_UCL/Data/Twitter/Nairobi_1922/Sum/' + 'Clean1Tweets.csv', index = False)

## Same user for more than 3000 times
暂时准备放在清洗之后

In [15]:
# Same user for more than 3000 times
dflen['IDFreq'] = dflen.groupby('userid')['userid'].transform('count')
dflen = dflen.sort_values('IDFreq')
dflen

/var/folders/2_/nk9j6sb901n_fk5dz_9vtqj80000gn/T/ipykernel_18463/2122971289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dflen['IDFreq'] = dflen.groupby('userid')['userid'].transform('count')

,id,text,userid,lat,lon,created_at,location,IDFreq
1145091,569529384555692032,"This @K24Tv presenter, who dresses him! Brown ...",114607588,-1.223601,36.823568,2015-02-22 16:09:21,Nairobi,1
88963,545964283008667648,@UKenyatta Congrats to the president the new l...,1577219149,-1.319846,36.825695,2014-12-19 15:30:03,Nairobi,1
735431,588427381062303744,Isn't that stereotypes are untrue but they mak...,202592122,-1.267531,36.840452,2015-04-15 19:43:14,Nairobi,1
88967,545965047131168768,Chilling thinking about January plans after de...,1344227287,-1.299789,36.790795,2014-12-19 15:33:05,Nairobi,1
1111882,565640714206576641,President Barack Obama has said Islamic State\...,3023743665,-1.271798,36.842408,2015-02-11 22:37:10,Nairobi,1
...,...,...,...,...,...,...,...,...
1407971,861817957483196416,#hbdsheilakwambox is now trending in Kenya\n\n...,193985843,-1.274360,36.813100,2017-05-09 05:39:47,Nairobi,26830
1438969,778273798713929728,'uasin' &amp; 'gishu' are now trending in Keny...,193985843,-1.274360,36.813100,2016-09-20 16:45:07,Nairobi,26830
534132,737864744347021312,#madarakainnakuru is now trending in Kenya htt...,193985843,-1.274360,36.813100,2016-06-01 04:33:58,Nairobi,26830
25381,713426296253104128,"Happy Easter, @muzikikenya is now trending in ...",193985843,-1.274360,36.813100,2016-03-25 18:04:18,Nairobi,26830
510384,725063222047461376,"Collins Tanui, @tanui_kcollins is now trending...",193985843,-1.274360,36.813100,2016-04-26 20:45:17,Nairobi,26830